.header{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    height: 4rem;
    background: var(--color-head);
    color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  
}
.header-icon{
    position: relative;
}
.icon {
    background: green;
    padding: 0.7rem;
    color: #fff;
    border-radius: 0.8rem;
    cursor: pointer;
}
.icon svg{
    font-size: 1.1rem;
}
.small-cart{
    position: absolute;
    right: 0.7px;
    background: #000;
    padding: 0.8rem 1rem;
   transform: translateY(0.7rem);
   z-index: 10;
   width: 350px;
   border-radius: 0.7rem;
   display: flex;
   flex-direction: column;
}
.small-cart button{
    width: 40%;
    margin-top: 2.5rem;
   
}
.small-cart h5{
    text-align: center;
}
.block{
    display: none;
}